
/* Header */

.header {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}

.logo img {height: 48px;
           width: 42px;
           padding-top: 10px;
}

.logo {padding-left: 24px;
}

h1 {font-family: sans-serif;
    height: 32px;
}

.navigation {display: flex;
             flex-direction: row;
             padding-left: 950px;
             padding-right: 24px;
             font-size: 1.60em;
}

.navigation a {padding-right: 16px;
               color: gray;
               font-family: sans-serif;
}

.school {color: gray;
}


/* Banner */

.banner {display: flex;
         background-color: lightgray;
         background-size: cover;
}

.banner img {padding-top: 32px;
             padding-right: 24px;
             padding-bottom: 32px;
             padding-left: 28px;
}

.section {width: 60%;
  display: flex;
}

.content {width: 40%;
          padding-top: 150px;
          padding-left: 65px;
}

.content h2 {font-size: 50px;
             color: #4b4a4b;
             font-family: "Heebo", sans-serif;
             font-weight: bolder;
             margin-bottom: 0px;
             padding-left: 24px;
             line-height: 120%;
}

.content p {padding-bottom: 35px;
            font-size: 32px;
            color: #4b4a4b;
            font-family: "Heebo", sans-serif;
            padding-left: 24px;
            line-height: 125%;
}

.button {display: inline-block;
         border-radius: 0px;
         text-align: center;
         background-color: #4b4a4b;
         height: 40px;
         width: 405px;
         text-decoration: none;
         padding-top: 20px;
         font-size: 24px;
         font-family: "Heebo", sans-serif;
         padding-bottom: 10px;
         color: white;
         margin-left: 25px;
}

/* Information */

.information {padding-top: 32px;
              display: flex;
}

.information img { padding-right: 32px;
                   padding-bottom: 32px;
                   padding-left: 28px;
}

.main {width: 60%;
     }

.main h3 {margin: 0px;
          padding-left: 30px;
          font-size: 45px;
          color: #4b4a4b;
          font-family: "Heebo", sans-serif;
          font-weight: bolder;
}

.main p {padding-left: 30px;
         padding-bottom: 32px;
         color: gray;
         font-size: 30px;
         width: 1000px;
         margin-bottom: 20px;
}

.main span {padding-left: 30px;
            color: black;
            font-size: 20px;

}

 .second {width: 40%;
          display: flex;
          flex-direction: column;
          padding-left: 65px;

}

.orientation {display: flex;

}

.orientation .image {}

.orientation .info h4 {font-family: "Roboto", sans-serif;
                       font-size: 32px;
                       color: #4b4a4b;
                       padding-top: 20px;
                       margin-bottom: 0px;}

.orientation .info p {font-family: "Roboto", sans-serif;
                      font-family: 16px;
                      color: gray;
}

.orientation .info a {text-decoration: none;
                      font-family: "Roboto", sans-serif;
                      font-size: 16px;
}

.campus {display: flex;
         padding-top: 15px;
}

.lecture {display: flex;
          padding-top: 15px;
}
